<template lang='pug'>
#doctype
  label Tipo Documento
  select#doctype.form-control(v-model='doctype')
    option(v-for="i in items") {{ i }}
</template>

<script>
export default {
 name: 'doctype',
 data () {
   return {
     items: ["Cedula","Tarjeta Identidad","Cedula Extranjeria","Registro Civil"]
   }
 }
}
</script>
