<template>
    <div class="container">
        <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center">PACIENTE</h1>
            <form v-on:submit.prevent="register">
                <label for="documentTypeinput">Tipo de documento:</label>
                <!--<select v-model="documentType" class="form-control">
                  <option v-for="i in items" :key="i">{{i}}</option>
                </select>-->
                <input type="text" v-model="documentType" class="form-control">
                <label for="documentinput">Número de documento:</label>
                <input type="text" v-model="document" class="form-control">
                <label for="firstNameinput">Primer nombre:</label>
                <input type="text" v-model="firstName" class="form-control">
                <label for="middleNameinput">Segundo nombre:</label>
                <input type="text" v-model="middleName" class="form-control">
                <label for="surnameinput">Primer apellido:</label>
                <input type="text" v-model="surname" class="form-control">
                <label for="secondSurnameinput">Segundo apellido:</label>
                <input type="text" v-model="secondSurname" class="form-control">
                <label for="birthDateinput">Fecha de nacimiento:</label>
                <input type="date" v-model="birthDate" class="form-control">
                <label for="genderinput">Género:</label>
                <input type="text" v-model="gender" class="form-control">
                <label for="regimeinput">Regimen:</label>
                <input type="text" v-model="regime" class="form-control">
                <label for="zoneinput">Área:</label>
                <input type="text" v-model="zone" class="form-control">
                <label for="disabilityinput">Discapacidad:</label>
                <input type="text" v-model="disability" class="form-control">
                <label for="educationinput">Nivel educativo:</label>
                <input type="text" v-model="education" class="form-control">
                <label for="populationGroupinput">Grupo poblacional:</label>
                <input type="text" v-model="populationGroup" class="form-control">
                <label for="landlineinput">Teléfono fijo:</label>
                <input type="tel" v-model="landline" class="form-control">
                <label for="firstCellinput">Primer teléfono de celular:</label>
                <input type="tel" v-model="firstCell" class="form-control">
                <label for="secondCellinput">Segundo teléfono de celular:</label>
                <input type="tel" v-model="secondCell" class="form-control">
                <label for="emailinput">Email:</label>
                <input type="email" v-model="email" class="form-control">
                <label for="cityinput">Ciudad:</label>
                <input type="text" v-model="city" class="form-control">
                <label for="addressinput">Dirección:</label>
                <input type="text" v-model="address" class="form-control">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Create</button>
            </form>
        </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      /*items: ["Cedula","Tarjeta Identidad","Cedula Extranjeria","Registro Civil"],*/
      documentType: '',
      document: '',
      firstName: '',
      middleName: '',
      surname: '',
      secondSurname: '',
      birthDate: '',
      gender: '',
      regime: '',
      zone: '',
      disability: '',
      education: '',
      populationGroup: '',
      landline: '',
      firstCell: '',
      secondCell: '',
      email: '',
      city: '',
      address: ''
    }
  },
  methods: {
    register () {
      axios.post('/users/patient',
        {
          document_type_id: this.documentType,
          document: this.document,
          first_name: this.firstName,
          middle_name: this.middleName,
          surname: this.surname,
          second_surname: this.secondSurname,
          birth_date: this.birthDate,
          gender_id: this.gender,
          regime_id: this.regime,
          zone_id: this.zone,
          disability_id: this.disability,
          educational_level_id: this.education,
          population_group_id: this.populationGroup,
          landline: this.landline,
          first_cell_phone: this.firstCell,
          second_cell_phone: this.secondCell,
          email: this.email,
          city_id: this.city,
          address: this.address
        }
      ).then((res) => {
        console.log(res)
      }).catch((err) => {
        console.log(err)
      })
    }
  }
}
</script>
