<template>
    <div id="todo-list-example" class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
            <table class="table" id="example">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for= "patient  in patients" :key="patient">
                        <th scope="row">{{ user.id}}</th>
                        <td>{{patient.first_name}}</td>
                        <td>{{patient.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    mounted () {
        this.getPatients()
    },
    data(){
        return{
            patients: []
        }
    },
  methods: {
    getPatients () {
      axios({ method: 'GET', url: '/users/patients' }).then(
        result => {
          console.log(result.data)
          this.patients = result.data
        },
        error => {
          console.error(error)
        }
      )
    },
  }
}
</script>
