<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form v-on:submit.prevent="register">
          <h1 class="h3 mb-3 font-weight-normal">New talk</h1>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" v-model="title" class="form-control" name="title" placeholder="Enter title of the talk">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" v-model="description" class="form-control" name="description" placeholder="Enter description">
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Create</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: '',
      description: ''
    }
  },
  methods: {
    register () {
      axios.post('/users/newtalk',
        {
          title: this.title,
          description: this.description
        }
      ).then((res) => {
        console.log(res)
      }).catch((err) => {
        console.log(err)
      })
    }
  }
}
</script>
